# Prerequisites
*.d
*.depends

# Build directory
build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/apps/appex/appex
src/apps/dggrid/dggrid
src/apps/dgglife/dgglife
src/apps/liferfs/liferfs
src/apps/oglhier/oglhier
src/apps/oglhierdgg/oglhierdgg

# examples output files
examples*/*/outputfiles/*
!examples*/*/outputfiles/.keep

# miscellaneous
g
gg
g2
g1
out
goop
JUNK
junk
.*.swp
.DS_Store
.gdb_history

.idea/.gitignore
.idea/.name
.idea/DGGRID.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/tasks.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeDoxyfile.in
cmake-build-debug/CMakeDoxygenDefaults.cmake
cmake-build-debug/Doxyfile.in
cmake-build-debug/Makefile
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-1d895951ef3c3f1732e3.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b7281870b380ba5923fa.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-326c5ee4aec470de280a.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/directory-src.apps.appex-Debug-e1c48837ce492058569f.json
cmake-build-debug/.cmake/api/v1/reply/directory-src.apps.dggrid-Debug-64e7b4a9064d13350690.json
cmake-build-debug/.cmake/api/v1/reply/directory-src.lib.dglib-Debug-14fa5c820e61a77b2aef.json
cmake-build-debug/.cmake/api/v1/reply/directory-src.lib.proj4lib-Debug-3e9d235935475a8598ca.json
cmake-build-debug/.cmake/api/v1/reply/directory-src.lib.shapelib-Debug-55eebab9817348478b5e.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-02-11T10-59-41-0553.json
cmake-build-debug/.cmake/api/v1/reply/target-appex-Debug-fd4bd443bf1dcab26dd4.json
cmake-build-debug/.cmake/api/v1/reply/target-dggrid-Debug-4213e6e9139b6ea52959.json
cmake-build-debug/.cmake/api/v1/reply/target-dglib-Debug-0c3ad918d8c74aa8a040.json
cmake-build-debug/.cmake/api/v1/reply/target-docs-Debug-635b423ea9adebf1cd28.json
cmake-build-debug/.cmake/api/v1/reply/target-proj4lib-Debug-6a99f4552ac4312c4fff.json
cmake-build-debug/.cmake/api/v1/reply/target-shapelib-Debug-15290f2301b000dde3d8.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/docs.dir/build.make
cmake-build-debug/CMakeFiles/docs.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/docs.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/docs.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/docs.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/docs.dir/progress.make
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/src/apps/appex/appex
cmake-build-debug/src/apps/appex/cmake_install.cmake
cmake-build-debug/src/apps/appex/Makefile
cmake-build-debug/src/apps/appex/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/src/apps/appex/CMakeFiles/progress.marks
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/build.make
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/cmake_clean.cmake
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/compiler_depend.internal
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/compiler_depend.make
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/compiler_depend.ts
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/depend.make
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/DependInfo.cmake
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/flags.make
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/link.txt
cmake-build-debug/src/apps/appex/CMakeFiles/appex.dir/progress.make
cmake-build-debug/src/apps/dggrid/cells.gen
cmake-build-debug/src/apps/dggrid/children.chd
cmake-build-debug/src/apps/dggrid/cmake_install.cmake
cmake-build-debug/src/apps/dggrid/dggrid
cmake-build-debug/src/apps/dggrid/Makefile
cmake-build-debug/src/apps/dggrid/neighbors.nbr
cmake-build-debug/src/apps/dggrid/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/src/apps/dggrid/CMakeFiles/progress.marks
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/build.make
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/cmake_clean.cmake
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/compiler_depend.internal
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/compiler_depend.make
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/compiler_depend.ts
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/depend.make
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/DependInfo.cmake
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/flags.make
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/link.txt
cmake-build-debug/src/apps/dggrid/CMakeFiles/dggrid.dir/progress.make
cmake-build-debug/src/lib/dglib/cmake_install.cmake
cmake-build-debug/src/lib/dglib/Makefile
cmake-build-debug/src/lib/dglib/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/src/lib/dglib/CMakeFiles/progress.marks
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/build.make
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/cmake_clean_target.cmake
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/cmake_clean.cmake
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/compiler_depend.internal
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/compiler_depend.make
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/compiler_depend.ts
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/depend.make
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/DependInfo.cmake
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/flags.make
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/link.txt
cmake-build-debug/src/lib/dglib/CMakeFiles/dglib.dir/progress.make
cmake-build-debug/src/lib/proj4lib/cmake_install.cmake
cmake-build-debug/src/lib/proj4lib/Makefile
cmake-build-debug/src/lib/proj4lib/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/src/lib/proj4lib/CMakeFiles/progress.marks
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/build.make
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/cmake_clean_target.cmake
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/cmake_clean.cmake
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/compiler_depend.internal
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/compiler_depend.make
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/compiler_depend.ts
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/depend.make
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/DependInfo.cmake
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/flags.make
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/link.txt
cmake-build-debug/src/lib/proj4lib/CMakeFiles/proj4lib.dir/progress.make
cmake-build-debug/src/lib/shapelib/cmake_install.cmake
cmake-build-debug/src/lib/shapelib/Makefile
cmake-build-debug/src/lib/shapelib/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/src/lib/shapelib/CMakeFiles/progress.marks
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/build.make
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/cmake_clean_target.cmake
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/cmake_clean.cmake
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/compiler_depend.internal
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/compiler_depend.make
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/compiler_depend.ts
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/depend.make
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/DependInfo.cmake
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/flags.make
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/link.txt
cmake-build-debug/src/lib/shapelib/CMakeFiles/shapelib.dir/progress.make
